.update-record-dialog {
  .loading-more {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    .loading-content {
      display: inline-block;
      margin-left: 5px;
    }
  }
}
