/*
 * @Author: Vir 
 * @Date: 2021-06-12 00:03:03 
 * @Last Modified by: Vir
 * @Last Modified time: 2021-06-15 13:43:26
 */

.bing-img-root {
  gap: 11px 12px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 16px;
  .ant-image {
    display: block;
  }
  .content-w-h {
    width: 150px;
    height: 84px;
  }
  .bg-empty {
    background: rgb(213, 213, 213);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
