/*
 * @Author: Vir
 * @Date: 2021-03-23 17:21:19
 * @Last Modified by: Vir
 * @Last Modified time: 2021-03-24 17:38:32
 */
@import '../../themes/index.less';

html,
body,
#root {
  height: 100%;

  .index {
    background-color: @bg-color-light;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
  }
}
