/*
 * @Author: Vir
 * @Date: 2021-03-23 17:21:19
 * @Last Modified by: Vir
 * @Last Modified time: 2021-06-20 15:49:25
 */
@import '../../themes/index.less';

html,
body,
#root {
  height: 100%;

  .index {
    position: relative;
    background-color: @bg-color-light;
    display: grid;
    overflow: hidden;
    height: 100%;
    text-align: center;
    // 默认布局：导航 Logo 输入框 附加内容 版权信息
    grid-template-rows: 40px 300px 80px auto 30px;
    .index-navbar-box {
      text-align: right;
      .MuiIconButton-root {
        color: var(--main-text-color, rgb(95, 95, 95));
      }
    }
    .index-logo-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .index-search-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .index-content-box {
      padding: 10px 0;
    }
  }
}
