/*
 * @Author: Vir
 * @Date: 2021-03-23 17:21:19
 * @Last Modified by: Vir
 * @Last Modified time: 2021-03-27 16:29:41
 */
@import '../../themes/index.less';

html,
body,
#root {
  height: 100%;

  .index {
    position: relative;
    background-color: @bg-color-light;
    display: grid;
    overflow: hidden;
    height: 100%;
    text-align: center;
    // 默认布局：导航 Logo 输入框 附加内容 版权信息
    grid-template-rows: 40px 300px 80px auto 30px;
    .index-navbar-box {
      text-align: right;
    }
    .index-search-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .search-engine-label {
        width: 710px;
        margin-bottom: 10px;
        text-align: left;
        .engine-chip {
          margin: 0 5px;
          &.selected {
            background-color: #5f5f5f;
            color: #fff;
          }
        }
      }
    }
  }
}
