/*
 * @Author: Vir 
 * @Date: 2021-06-16 11:10:37 
 * @Last Modified by: Vir
 * @Last Modified time: 2021-06-16 11:26:13
 */
#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  .pic {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    i {
      display: block;
      float: left;
      width: 6px;
      height: 50px;
      background: #399;
      margin: 0 2px;
      transform: scaleY(0.4);
      border-radius: 3px;
      background-color: #f66;
      animation: load 1.4s ease-in-out infinite;
      .xkd(@n, @i: 1) when (@i =< @n) {
        &:nth-child@{i} {
          width: (@i * 100% / @n);
          animation-delay: @i * 0.2s;
        }
        .xkd(@n, (@i + 1));
      }

      .xkd(5);
    }
  }
}
