@import url('./antd-global.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'MiSans', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  scrollbar-width: thin;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scrollbar-width: inherit;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-thumb {
  background: hsl(214, 13%, 75%);
  border-radius: 4px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

#root {
  --main-text-color: rgba(95, 95, 95, 1);
  --main-text-color-opacity-7: rgba(255, 255, 255, 0.7);
}

.inverse {
  --main-text-color: #fff !important;
  --main-text-color-opacity-2: rgba(255, 255, 255, 0.2) !important;
  --main-text-color-opacity-7: rgba(255, 255, 255, 0.7) !important;
}
