@import url('./antd-global.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --main-text-color: rgba(95, 95, 95, 1);
  --main-text-color-opacity-7: rgba(255, 255, 255, 0.7);
}

.inverse {
  --main-text-color: #fff !important;
  --main-text-color-opacity-7: rgba(255, 255, 255, 0.7) !important;
}
