PORT=5151
setup_environment_configured=false
setup_initialized=false

# MongoDB
mongo_host=127.0.0.1
mongo_port=27017
mongo_username=
mongo_password=
mongo_database=search_next
mongo_auth_source=

# Redis
redis_host=127.0.0.1
redis_port=6379
redis_password=
redis_db=0
redis_ttl=60

# Email
email_host=outlook.office365.com
email_port=587
email_user=
email_pass=

# Storage: local or r2
storage_service=local
local_storage_path=./assets/uploads

# Qiniu
qiniu_access_key=
qiniu_secret_key=
qiniu_bucket=
qiniu_bucket_domain=

# Cloudflare R2
r2_access_key=
r2_secret_key=
r2_bucket=
r2_account_id=
r2_custom_domain=
